alias ldots='ls -a | egrep "^\.[^\.]"'
alias ll='exa -l'
alias l='exa -l'
alias UP='source ~/.zshrc'

# Vagrant
alias v='vagrant'

alias hosts='sudo vim /etc/hosts'

# Mercury
alias jenkins="ssh jenkins@192.168.101.39"
alias asgard="/Users/pierodibello/Documents/workspace/mercury-development/asvagrant"

# Maven
alias mct='mvn -T 4 clean test'

# Gradle
alias gw='./gradlew'
gww() {
  ./gradlew "$@"
  if [[ $? -eq 0 ]]; then 
    say -v Luca "ho finito"
  else
    say -v Whisper "failed?"
  fi
}

# CLI tools (https://remysharp.com/2018/08/23/cli-improved)
alias cat='bat'
alias ping='prettyping'
alias more='most'

